$body-background-color: #00111e;
$sidebar-color: #00111e;
$border-color: $grey-dk-200;

$body-text-color: #BFBFBF;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: #B2A692;
$btn-primary-color: #A49375;
$base-button-color: #002745;

$code-background-color: #002745;
$search-background-color: #002745;
$table-background-color: #002745;
$feedback-color: darken($sidebar-color, 3%);

.search-input {
  color: $body-text-color;
}
