$body-background-color: #fff //$white;
$sidebar-color: #f5f6fa; //$grey-lt-000;
$border-color: #eeebee; //$grey-lt-100;

$body-text-color: #5c5962; //$grey-dk-100;
$body-heading-color: #27262b; //$grey-dk-300;
$nav-child-link-color: #5c5962; //$grey-dk-100;
$search-result-preview-color: #959396; //$grey-dk-000;

$link-color: #002745;
$btn-primary-color: #001C32;
$base-button-color: #f7f7f7;

$code-background-color: #f5f6fa; //$grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
