$body-background-color: #fff;
$sidebar-color: #f5f6fa;
$border-color: #eeebee;

$body-text-color: #5c5962;
$body-heading-color: #27262b;
$nav-child-link-color: #5c5962;
$search-result-preview-color: #959396;

$link-color: #002745;
$btn-primary-color: #001C32;
$base-button-color: #f7f7f7;

$code-background-color: #f5f6fa;
$search-background-color: $white;
$table-background-color: $white;
$feedback-color: darken($sidebar-color, 3%);
